---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
      TODO: Add an about. <br/>For now just refer to the home page...
		</p>
		<p>Here are my some of my projects I've worked/working on:</p>
		<ul class="list-inside list-disc">
      <li>Rate limit service </li>
			<li>Link tree clone tailored for students</li>
			<li>Notion Template Generator</li>
		</ul>
	</div>
</PageLayout>
